###################################
# JPO GeoJsonConverter Docker Environment File #
###################################
# WARNING! The contents of this file may be sensitive. Take care not to add to source control.
#
# Instructions:
#   Rename this file from `sample.env` to `.env` and Docker will automatically pick up the variables.
#
# Description:
#   This file aggregates all the variables used in docker-compose.yml for ease of use. Variables are
#   prefixed with the format DESTINATION_MESSAGETYPE_ to provide guidance. Some variables are filled
#   out with commonly used values.
###################################

####################
# General Properties

# (Required) The IP address of Docker host machine which can be found by running "ifconfig"
# Hint: look for "inet addr:" within "eth0" or "en0" for OSX
DOCKER_HOST_IP=

# GitHub properties for pulling the latest version of the JPO-ODE
GITHUB_TOKEN_NAME=
GITHUB_TOKEN=
GITHUB_ORG=usdot-jpo-ode

####################
# Confluent Cloud Properties (for Confluent Cloud support)

# Set to "CONFLUENT" if broker is a Confluent Cloud broker
KAFKA_TYPE=

# Set to actual Confluent Cloud access key and secret values for SASL authentication
CONFLUENT_KEY=
CONFLUENT_SECRET=

# Feature geometry output mode
# Options are GEOJSON_ONLY or WKT, defaults to GEOJSON_ONLY if nothing is specified
# WKT mode will still generate geoJSON output
GEOMETRY_OUTPUT_MODE=