###################################
# JPO GeoJsonConverter Docker Environment File #
###################################
# WARNING! The contents of this file may be sensitive. Take care not to add to source control.
#
# Instructions:
#   Rename this file from `sample.env` to `.env` and Docker will automatically pick up the variables.
#
# Description:
#   This file aggregates all the variables used in docker-compose.yml for ease of use. Variables are
#   prefixed with the format DESTINATION_MESSAGETYPE_ to provide guidance. Some variables are filled
#   out with commonly used values.
###################################

####################
# General Properties

# (Required) The IP address of Docker host machine which can be found by running "ifconfig"
# Hint: look for "inet addr:" within "eth0" or "en0" for OSX
DOCKER_HOST_IP=